<aside class="side-bar">
    <h1>Login</h1>
    <label for="userName">Username:</label>
    <input type="text">
    <label for="password">Password:</label>
    <input type="password">
    <input type="checkbox">
    <label>Remember me</label>
    <input type="submit" class="btn" value="Login">
    <a href="#">Forget login?</a>
    <p>No account yet?</p>
    <a href="#">Register</a>
</aside>
